<%= content_for :home_header_image  do %>
    <div class='row-fluid'>
        <div class='welcome-top-section span12'>
            <div class='span4 info'>
                <div class="light-link center-text large-top-margin"><p><%= link_to "Sign In", new_user_session_path, :class => 'btn btn-success' %> to create an <a href="http://en.wikipedia.org/wiki/Exquisite_corpse" target='_blank'>exquisite corpse</a> story</p>
                <div class="large-top-margin align-left">
                    <div class='pull-left'><span class='large'>1</span></div><p>Set the parameters for a new story. You can make it have a few long parts, or many short parts.</p>
                    <br />
                    <div class='pull-left'><span class='large'>2</span></div><p>View the last contributed piece and build off that. You won't see the entire story until it's complete.</p>
                    <br />
                    <div class='pull-left'><span class='large'>3</span></div><p>Once the story is finished, see who added which parts and share your collaborative story.</p>
                </div>
            </div>
        </div>
    </div>
<% end %>

<div class='row-fluid'>

    <div class="span4 frontpage-section">

        <div>
            <% cache('recent_unfinished_stories') do %>
                <%= render 'stories/story_list', :stories => @incomplete_stories %>
            <% end %>
            <%= link_to 'More Stories >>', stories_path, :class => 'btn' %>
        </div>
    </div>
    <div class='span8 frontpage-section'>
        <%= render 'excerpt' %>
    </div>
</div>
