<%= content_for :home_header_image  do %>
    <div class='row-fluid'>
        <div class='welcome-top-section span12'>
            <div class='span4 info'>
                <br />
                <br />
                Writer Mortis is designed for writing collaborative <span class='medium'>exquisite corpses</span>, Frankensteinian stories patched together from the skulls of multiple creators.
                <br />
                <br />
                <div class='text-right light-link'><a href="http://en.wikipedia.org/wiki/Exquisite_corpse" target='_blank'>More on Wikipedia</a></span>
            </div>
        </div>
    </div>
<% end %>


<div class='row-fluid'>
    <div class='span4 frontpage-section top-spacing'>
        <div>
            <h2>Start a Story</h2>
            <p><%= link_to "Sign In", new_user_session_path, :class => 'btn btn-success' %> to create a story.</p> 
            <p class='align-left'>Decide how many contributions there will be and how many sentences each person can write.</p>
        </div>
        <div>
            <h2>Contribute</h2>
            <p class='align-left'>View the last piece of a story and add to it.</p>
            <%= render 'story_list', :stories => @incomplete_stories %>
        </div>
    </div>
    <div class='span8 frontpage-section'>
        <h2>A fresh story:</h2>
        <%= render 'excerpt' %>
        <hr >
        <div class=''>
            <h3>More Complete Stories</h3>
            <%= render 'story_list', :stories => @complete_stories %>
        </div>
    </div>
</div>
