<div class='row-fluid'>

    <div class='span4 frontpage-section'>
        <div class='well'>
            <h1>My Stories</h1>
            <%= render 'explore_unfinished' %>
            <%= render 'explore_finished' %>
        </div>
        <%= link_to 'New Story', new_story_path, :class => 'btn' %>
    </div>

    <div class='span4 frontpage-section'>
        <%= render 'my_unfinished' %>
    </div>

    <div class='span4 frontpage-section'>
        <%= render 'my_finished' %>
    </div>

</div>
