<div class='row-fluid'>

    <div class='span3 frontpage-section'>
        <div class='well my-stories'>
            <h2>My Stories</h2>
            <%= link_to 'New Story', new_story_path, :class => 'btn' %>
            <% unless @my_unfinished_stories.empty? %>
                <hr />
                <% cache ("user_#{current_user.id}_#{current_user.updated_at.to_i}_unfinished_stories") do %>
                    <%= render 'stories/story_list', :stories => @my_unfinished_stories %>
                <% end %>
            <% end %>
            <% unless @my_finished_stories.empty? %>
                <hr />
                <% cache ("user_#{current_user.id}_#{current_user.updated_at.to_i}_finished_stories") do %>
                    <%= render 'stories/story_list', :stories => @my_finished_stories %>
                <% end %>
            <% end %>
            <% if @my_unfinished_stories.empty? && @my_finished_stories.empty? %>
                <p class='align-left large-top-margin'>You don't have any stories yet :/</p>
                <p class='align-left'>You can start a new one or contribute to an existing story.</p>
            <% end %>
        </div>
    </div>

    <div class='span9'>
        <div class='span12'>
            <h2>Recent Stories</h2>
        </div>

        <div class='span5 frontpage-section'>
        <% cache('recent_unfinished_stories') do %>
            <%= render 'stories/story_list', :stories => @incomplete_stories %>
        <% end %>
        </div>

        <div class='span6 frontpage-section'>
            <% cache('recent_finished_stories') do %>
                <%= render 'stories/story_list', :stories => @complete_stories %>
            <% end %>
        </div>

        <div class='span12'>
            <%= render 'excerpt' %>
        </div>

    </div>

</div>
