<% @story.slices.build %>
<%= form_for @story, :html => {:class => 'form-horizontal'} do |f| %>
    <div class='error-messages'>
        <% if @story.errors.any? %>
            <div class="alert alert-error">
                <% @story.errors.full_messages.each do |error| %>
                    <p><%= error %></p>
                <% end %>
            </div>
        <% end %>
    </div>

    <div class='control-group'>
        <%= f.label :title, :class => 'control-label' %>
        <div class='controls'>
            <%= f.text_field :title %>
        </div>
    </div>

    <div class='control-group'>
        <%= f.label :max_sentences, :class => 'control-label' %>
        <div class='controls'>
            <%= f.text_field :max_sentences %>
        </div>
    </div>

    <div class='control-group'>
        <%= f.label :total_slices, :class => 'control-label' %>
        <div class='controls'>
            <%= f.text_field :total_slices %>
        </div>
    </div>
    <%= render :partial => "slices/nested_form", :locals => {:form => f} unless @story.persisted?  %>

    <div class='control-group'>
        <%= f.submit :class => 'btn' %>
    </div>

<% end %>
