<div class='row-fluid'>
    <% if @story.done? %>
        <%= render 'finished_story' %>
    <% end %>

    <% unless @story.done? %>
        <%= render 'unfinished_story' %>
    <% end %>

    <div class="contributors span2">
        <h3>Contributors</h3>
        <%= div_for @contributors do |user| %>
            <%= user.name %>
        <% end %>
    </div>

</div>

<div class="row-fluid">
    <% unless @story.done? %>
        <div class="slice-form-wrapper span9 offset2">
            <%= render 'slices/form' %>
        </div>
    <% end %>
</div>

<div class="row-fluid">
    <div class="span2">
        <h3>Rules:</h3>
        <ul>
            <li>Each contribution must be less than <%= @story.max_sentences %> sentences.</li>
            <li>The story will be finished when there are <%= @story.total_slices %> contributions.</li>
        </ul>
    </div>
</div>
