<%= javascript_tag do %>
    var maxSentences = <%=@story.max_sentences %>;
<% end %>

<div class='row-fluid'>
    <div class='row-fluid'>
        <div class='span2 left-sidebar'>

        <div class='slices-left well'>
            <div class='slice-count'><span class='large'><%= @story.slices_done %></span><span class="muted"> /</span><span class='muted medium'> <%= @story.total_slices %></span></div>
            <%= raw @story.generate_slice_bar(100) %>
        </div>


    </div> <!-- End left-sidebar -->

    <div class='main-page-content span8'>

        <div class="last-story-slice">
            <% if @story.user == current_user %>
                <%= link_to "[Edit Story]", edit_story_path(@story), :class => 'pull-right edit-story-link' %>
            <% end %>
            <h3><%= @story.title %></h3>
            <% if @story.slices.last %>

                <% cache("story#{@story.id}-#{@story.updated_at.to_i}") do %>
                    <%= simple_format @story.last_two_slices %>
                <% end %>

                <% if @story.slices.last.user == current_user %>
                    <%= link_to "[Delete this part]", story_slice_path(@story, @story.slices.last), :method => "delete", :data => { confirm: "Are you sure?"} %>
                <% end %>
            <% else %>
                <i>This story needs a beginning...</i>
            <% end %>
        </div>


        <div class='slice-form'>
            <% if user_signed_in? %>
                <% if @story.can_have_slice_by(current_user) %>
                    <div class="slice-form-wrapper">
                        <%= render 'slices/form' %>
                    </div>

                <% else %>
                    <div class="slice-form-wrapper no-form alert alert-success">
                        Now ask a friend to continue the story!
                    </div>
                <% end %>
            <% else %>
                <div class="slice-form-wrapper span9 offset2">
                    <%= render 'slices/form' %>
                </div>
            <% end%>
        </div>

        <%= render 'rules' %>

    </div> <!-- End main page content -->


    <div class='right-sidebar span2'>
        <div class="contributors">
            <%= render 'contributors' %>
        </div>
    </div>

</div> <!-- End row fluid -->
