<div class='row-fluid'>
    <div class='row-fluid'>
        <div class='span2 left-sidebar'>

        <div class='slices-left well'>
            <span class='slices-left'><%= @story.slices_left %><br /></span>
            more until the story is done.
        </div>


    </div> <!-- End left-sidebar -->

    <div class='main-page-content span8'>

        <div class="last-story-slice">
            <% if @story.user == current_user %>
                <%= link_to "[Edit Story]", edit_story_path(@story), :class => 'pull-right edit-story-link' %>
            <% end %>
            <h3><%= @story.title %></h3>
            <% if @story.slices.last %>
                <%= div_for @story.slices.last do |slice| %>
                    <%= simple_format slice.body %>
                <% end %>
            <% else %>
                This story needs a beginning...
            <% end %>
        </div>


        <div class='slice-form'>
            <% if user_signed_in? %>
                <% if @story.can_have_slice_by(current_user) %>
                    <div class="slice-form-wrapper">
                        <%= render 'slices/form' %>
                    </div>

                <% else %>
                    <div class="slice-form-wrapper no-form alert alert-success">
                        Now ask a friend to continue the story!
                    </div>
                <% end %>
            <% else %>
                <div class="slice-form-wrapper span9 offset2">
                    <%= render 'slices/form' %>
                </div>
            <% end%>
        </div>

        <%= render 'rules' %>

    </div> <!-- End main page content -->


    <div class='right-sidebar span2'>
        <div class="contributors">
            <%= render 'contributors' %>
        </div>
    </div>

</div> <!-- End row fluid -->
