<h3><%= @story.title %></h3>

<% unless @story.done? %>
    <div class="row-fluid">
        <div class="last-story-slice span9 offset2">
            <% if @story.slices.last %>
                <%= div_for @story.slices.last do |slice| %>
                    <%= slice.body %>
                <% end %>
            <% else %>
                This story needs a beginning...
            <% end %>
        </div>
    </div>
    <div class="row-fluid">
        <div class="slice-form-wrapper span9 offset2">
            <%= render 'slices/form' %>
        </div>
    </div>
        <%= @story.slices.length %>
<% end %>

<% if @story.done? %>
    <div>The story is done:</div>
    <%= @complete_story %>
<% end %>
