<% if user_signed_in? %>
    <%= form_for([@story, @story.slices.build]) do |f| %>
        <% if flash[:errors] %>
            <div id='error_explanation' class='alert alert-error'>
                <% flash[:errors].each do |error| %>
                    <p><%= error %></p>
                <% end %>
            </div>
        <% end %>

        <% @story.slices.each do |slice| %>
            <div>
                <% if slice.errors.any? %>
                    <ul>
                    <% slice.errors.full_messages.each do |error| %>
                        <li><%= error %></li>
                    <% end %>
                </ul>
            <% end %>
            </div>
        <% end %>
        <div>
            <%= f.text_area :body, :rows => 6, :class => 'span8', :value => flash[:body] %>
        </div>
        <div class="btn-group insert-buttons">
          <button class="btn continue-line">Continue Line</button>
          <button class="btn new-line">New Line</button>
          <button class="btn new-paragraph">New Paragraph</button>
      </div>
      <div class='large-top-margin'>
          <%= f.submit "Add to the Story", :class => 'btn btn-success' %>
      </div>
    <% end %>
<% else %>
    <div class='sign-in-to-post large-top-margin'>
        <%= link_to "Sign in", new_user_session_path, :class => 'btn btn-success' %> to add to the story
    </div>
<% end %>

