<!DOCTYPE html>
<html>
<head>
  <title>Exquisitecorpse</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class='page-wrapper container-fluid'>
        <% if !notice.nil? %>
            <div class='alert alert-success'>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= notice %>
            </div>
        <% end %>
        <% if !alert.nil? %>
            <div class='alert'>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= alert %>
            </div>
        <% end %>

        <div class='header'>
            <div class="row-fluid">
                <div class='user-menu span4 offset9'>
                    <ul>
                        <li><%= link_to "Home", :root %></li> 
                        <% if user_signed_in? %>
                            <li><%= link_to "Edit My Account", edit_user_registration_path %></li>
                            <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
                        <% else %>
                            <li><%= link_to "Login", new_user_session_path  %></li>
                            <li><%= link_to "Sign Up", new_user_registration_path %></li>
                        <% end %>
                    </ul>
                </div>
                <div class="title span8 offset2"><h1>Exquisite Corpse</h1></div>
            </div>
        </div>

        <%= yield %>
    </div>

</body>
</html>
