<!DOCTYPE html>
<html>
<head>
  <title>Exquisitecorpse</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class='page-wrapper'>
        <% if !notice.nil? %>
            <div class='alert'><%= notice %></div>
        <% end %>
        <% if !alert.nil? %>
            <div class='alert'><%= alert %></div>
        <% end %>

        <div class='header'>
            <div class='user-menu'>
                <ul>
                    <% if user_signed_in? %>
                        <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
                    <% else %>
                        <li><%= link_to "Login", new_user_session_path  %></li>
                    <% end %>
                </ul>
            </div>
            <div class="title"><h1>Exquisite Corpse</h1></div>
        </div>

        <%= yield %>
    </div>

</body>
</html>
