<!DOCTYPE html>
<html>
<head>
  <title>Exquisitecorpse</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class='page-wrapper'>
        <% if !notice.nil? %>
            <div class='notice'><%= notice %></div>
        <% end %>
        <% if !alert.nil? %>
            <div class='alert'><%= alert %></div>
        <% end %>

        <div class='header'>
            <h1>Exquisite Corpse</h1>
        </div>

        <%= yield %>
    </div>

</body>
</html>
