<!DOCTYPE html>
<html>
<head>
  <title>Exquisitecorpse</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= google_webfonts_link_tag 'Rosarivo' %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class='navbar navbar-static-top'>
        <div class='navbar-inner'>
            <div class='container'>

                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <%= link_to "The Writer Mortis Project", :root, :class => 'brand' %>
                <div class="nav-collapse collapse">
                    <ul class='nav pull-right'>
                        <% if user_signed_in? %>
                            <li><%= link_to "Edit My Account", edit_user_registration_path %></li>
                            <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
                        <% else %>
                            <li><%= link_to "Login", new_user_session_path  %></li>
                            <li><%= link_to "Sign Up", new_user_registration_path %></li>
                        <% end %>
                        <li><%= link_to "About", "#" %>
                        <li><%= link_to "Source Code", 'https://github.com/jasonblanchard/exquisitecorpse', :target => "_blank" %></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class='top-errors'>
        <% if !notice.nil? %>
            <div class='alert alert-success span9 offset2'>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= notice %>
            </div>
        <% end %>
        <% if !alert.nil? %>
            <div class='alert alert-error span9 offset2'>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= alert %>
            </div>
        <% end %>
    </div>


    <%= yield :home_header_image %>

    <div class='page-wrapper container-fluid'>
        <div class='header'>
            <div class="row-fluid">
            </div>
        </div>

        <%= yield %>
    </div>

</body>
</html>
